@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./img/pic1\ back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
}

nav .logo span{
    width: 150px;
    font-size: 20px;
    text-decoration:none;
    transition: 0.5s;
    letter-spacing: 5px;
}
nav .logo a{
    text-decoration: none;
    color: aliceblue;
}

.nav-buttons{
    flex: 1;
    text-align: right;
}

.nav-buttons ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-buttons ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.nav-buttons ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fccd04;
    display: block;
}
.nav-buttons ul li a:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fccd04;
    display: block;
    margin: auto;
    transition: 0.6s;
}
.nav-buttons ul li a:hover{
    color: #fccd04;
}
.logo:hover span{
    color: #fccd04;
}

.logo:hover span:nth-child(1){
    margin-right: 15px;
}
.logo:hover span:nth-child(2) {
    margin-right: 15px;
}
.logo:hover span:nth-child(3) {
    margin-right: 15px;
}
.logo:hover span:nth-child(1)::after{
    content: "arayan";
}
.logo:hover span:nth-child(2)::after {
    content: "handra";
}
.logo:hover span:nth-child(3)::after {
    content: "rust";
}

.info{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.info h1{
    font-size: 62px;
}

#bg{
    color: #fccd04;
}

#bgp{
    text-transform: capitalize;
}